<% provide(:title, "About") %>

<div class="center jumbotron">
  <h1>About this site</h1>
  <h2>This is an exercise in building Rails apps</h2>
  <p>I've studied Ruby on Rails in the past, but my skills have atrophied with time.  This page is one of what will be many where I build apps, experiment and basically have a good time getting back into the mind of being a web developer.</p>
</div>
