<% provide(:title, "Help") %>

<div class="center jumbotron">
  <h1>Help</h1>  
  
  <p>Not sure what I'm going to put here yet, maybe nothing but all the cool kids have help pages on their sites.  Also, it's good practice with linking, styling and other skills.</p>
  
</div>