<% provide(:title, "#{@user.user_name}s posts") %>

<%= will_paginate @user_posts %>

<% @user_posts.each do |post| %>
  <h4><%= link_to post.title, post_path(post.id) %></h4>
  <p><%= post.body %></p>
<% end %>